In [1]:
import os
import xarray as xr
import numpy as np
import pandas as pd
import csv
import rasterio.crs
from tqdm.auto import tqdm #this one is a loading bar, it's cool to add loading bars to loops
from pandas import DataFrame
import geopandas as gpd
import matplotlib.gridspec as gs
import matplotlib.pyplot as plt
from matplotlib import pyplot

/env/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.7.2-CAPI-1.11.0 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [13]:
df = pd.read_csv('depth_to_surface_polygon_drill.csv')
df = df.set_index(df.ID)
df = df.sort_values(by=['Depth'])
df

              ID  Depth  Surface Area  number of images after masking
ID
136020A  136020A      1       4570000                              53
136020A  136020A      2       4833750                             230
136020A  136020A      3       5215000                             296
136020A  136020A      4       5371250                               9
RE704      RE704      4             0                               0
...          ...    ...           ...                             ...
222537    222537   1579         90000                              88
222537    222537   1580         75000                              41
222537    222537   1581         92500                              23
222537    222537   1582        148750                              32
222537    222537   1583             0                               0

[2572 rows x 4 columns]

In [19]:
#Split dataframe by column ID
ID_list = df.ID.unique()
ID_list = ID_list.tolist()

df_list = []
for i in ID_list:
    dfi = df.loc[i]
    df_list.append(dfi)

df2_list = []
for i in df_list:
    df1 = i.sort_values(by = ['Depth'])
    df1 = i.drop(columns = ['ID'])
    df1 = df1.reset_index()
    df2_list.append(df1)
df2_list[100]

        ID  Depth  Surface Area  number of images after masking
0   416030    463       1687500                              20
1   416030    464       1861875                              25
2   416030    465       2029375                              21
3   416030    466       2063750                               8
4   416030    467       2338125                               3
5   416030    468       2294375                               2
6   416030    469       1756875                               2
7   416030    470       2616875                               6
8   416030    471       2745625                               9
9   416030    472       2861250                              17
10  416030    473       2940625                              25
11  416030    474       3011875                              18
12  416030    475       3199375                               7
13  416030    476       3339375                              34
14  416030    477       3338750                              32
15  416030    478       3521875                               6
16  416030    479       3533125                              17
17  416030    480       3630625                              14
18  416030    481       3998750                              10
19  416030    482       4080625                              26
20  416030    483       4165000                              36
21  416030    484       4177500                              34
22  416030    485       4286250                              21
23  416030    486       4552500                              33
24  416030    487       4598125                              36
25  416030    488       4843125                              24
26  416030    489       4921250                              41
27  416030    490       4971875                              34
28  416030    491       5096875                              23
29  416030    492       5266250                              24
30  416030    493       5468125                              30
31  416030    494       5713750                              21
32  416030    495       6015625                               6
33  416030    496       5937500                               8
34  416030    497       6223125                               7
35  416030    498       6494375                               7
36  416030    499       6579375                              12
37  416030    500       6801875                              31
38  416030    501       6900000                              35
39  416030    502       7035625                              45
40  416030    503       7118750                             107
41  416030    504       7203750                              88
42  416030    505       7455625                              26
43  416030    506       7603750                              18
44  416030    507       7751250                               8
45  416030    508       7981875                               6
46  416030    509       7937500                               8
47  416030    510       7935000                              14
48  416030    511       8114375                              15
49  416030    512       8180000                              17
50  416030    513       8191250                              14
51  416030    514       8307500                              54
52  416030    515       8319375                             113
53  416030    516       8325000                              61
54  416030    517             0                               0

## you'll have to write a function and then apply it in a loop to df2_list

In [ ]:
obs_list = []
for i, obs in depth_to_area_df.iterrows():
    if i == 0: #We always put the first point in, even if it's bad (will fix later)
        obs_list.append(obs)
        continue
    if obs["Surface Area"] > obs_list[-1]["Surface Area"]: # if the number is bigger than the number before it, keep.
        obs_list.append(obs)

obs_df = pd.DataFrame(obs_list)
obs_df2 = obs_df

#drop the first real images that are bad
obs_df2 = obs_df.drop(index=bad_rows) #Delete rows made from bad images

obs_df3 = obs_df2.set_index("Depth")
min_ = obs_df3.index.min()
max_ = obs_df3.index.max()
obs_df4 = obs_df3.reindex(range(min_, max_+1))
obs_df4['Surface Area'] = obs_df4['Surface Area'].interpolate()
obs_df4['Depth'] = obs_df4.index
obs_df4['ID'] = obs_df3.at[min_, 'ID']
obs_df4 = obs_df4[['ID', 'Depth', 'Surface Area', 'Number of images after masking']]
obs_df4 = obs_df4.set_index("ID")
obs_df4