In [1]:
import os
import xarray as xr
import numpy as np
import pandas as pd
import csv
import rasterio.crs
from tqdm.auto import tqdm #this one is a loading bar, it's cool to add loading bars to loops
from pandas import DataFrame
import geopandas as gpd
import matplotlib.gridspec as gs
import matplotlib.pyplot as plt
from matplotlib import pyplot

/env/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.7.2-CAPI-1.11.0 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
df = pd.read_csv('depth_to_surface_polygon_drill.csv')
df = df.set_index(df.ID)
df

,ID,Depth,Surface Area,number of images after masking
ID,,,,
ODSS_18335_WSLAHD.1,ODSS_18335_WSLAHD.1,220,223750,15
ODSS_18335_WSLAHD.1,ODSS_18335_WSLAHD.1,219,210625,52
ODSS_18335_WSLAHD.1,ODSS_18335_WSLAHD.1,218,202500,62
ODSS_18335_WSLAHD.1,ODSS_18335_WSLAHD.1,217,182500,82
ODSS_18335_WSLAHD.1,ODSS_18335_WSLAHD.1,216,165625,60
...,...,...,...,...
410543,410543,1220,10160000,30
410543,410543,1221,10820000,26
410543,410543,1222,11677500,13
410543,410543,1223,5947500,6
410543,410543,1224,13401875,8

In [3]:
#Split dataframe by column ID
ID_list = df.ID.unique()
ID_list = ID_list.tolist()

df_list = []
for i in ID_list:
    dfi = df.loc[i]
    #df_rei = dfi.reset_index()
    df_list.append(dfi)

In [9]:
df2_list = []
for i in df_list:
    df1 = i.drop(columns = ['ID'])
    df1 = df1.reset_index()
    df2_list.append(df1)

In [27]:
df2_list[0]

                    ID  Depth  Surface Area  number of images after masking
0  ODSS_18335_WSLAHD.1    220        223750                              15
1  ODSS_18335_WSLAHD.1    219        210625                              52
2  ODSS_18335_WSLAHD.1    218        202500                              62
3  ODSS_18335_WSLAHD.1    217        182500                              82
4  ODSS_18335_WSLAHD.1    216        165625                              60
5  ODSS_18335_WSLAHD.1    215        140000                              29
6  ODSS_18335_WSLAHD.1    214        113750                              14
7  ODSS_18335_WSLAHD.1    213             0                               2
8  ODSS_18335_WSLAHD.1    221             0                               0

## you'll have to write a function and then apply it in a loop to df2_list